In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn')

import warnings
warnings.filterwarnings('ignore')

# Import data

In [2]:
basket = pd.read_csv('../input/ecommerce-sales-dataset/basket_details.csv', parse_dates=['basket_date'])
customer = pd.read_csv('../input/ecommerce-sales-dataset/customer_details.csv')

# EDA

## Basket_details

In [3]:
basket.head()

   customer_id  product_id basket_date  basket_count
0     42366585    41475073  2019-06-19             2
1     35956841    43279538  2019-06-19             2
2     26139578    31715598  2019-06-19             3
3      3262253    47880260  2019-06-19             2
4     20056678    44747002  2019-06-19             2

In [4]:
basket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   15000 non-null  int64
 1   product_id    15000 non-null  int64
 2   basket_date   15000 non-null  datetime64[ns]
 3   basket_count  15000 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 468.9 KB

In [5]:
basket.describe()

        customer_id    product_id  basket_count
count  1.500000e+04  1.500000e+04  15000.000000
mean   1.808567e+07  3.269771e+07      2.153733
std    1.233000e+07  1.629455e+07      0.517929
min    4.784000e+03  4.939000e+04      2.000000
25%    8.659327e+06  3.137412e+07      2.000000
50%    1.520775e+07  3.694759e+07      2.000000
75%    2.663904e+07  4.502408e+07      2.000000
max    4.460824e+07  5.579097e+07     10.000000

- There's nothing missing value in basket
- basket_date type = datetime

## Customer_details

In [6]:
customer.head()

   customer_id   sex  customer_age  tenure
0      9798859  Male          44.0      93
1     11413563  Male          36.0      65
2       818195  Male          35.0     129
3     12049009  Male          33.0      58
4     10083045  Male          42.0      88

In [7]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   20000 non-null  int64
 1   sex           20000 non-null  object
 2   customer_age  20000 non-null  float64
 3   tenure        20000 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 625.1+ KB

In [8]:
customer.describe()

        customer_id  customer_age        tenure
count  2.000000e+04  20000.000000  20000.000000
mean   1.760040e+07    262.222550     44.396800
std    8.679505e+06    604.321589     31.998376
min    2.093000e+03    -34.000000      4.000000
25%    1.188115e+07     29.000000     21.000000
50%    1.560912e+07     38.000000     35.000000
75%    2.228484e+07    123.000000     60.000000
max    4.462566e+07   2022.000000    133.000000

- There's nothing missing value in customer
- There is an outlier in the age column of customer data.

In [9]:
len(customer['customer_id'].unique())

20000

In [10]:
customer.groupby('customer_age')['customer_id'].count()

customer_age
-34.0         1
 3.0          2
 4.0          1
 5.0        710
 6.0          1
           ...
 127.0        1
 130.0        1
 139.0        1
 149.0        1
 2022.0    2102
Name: customer_id, Length: 93, dtype: int64

- Remove outliers after merging basket dataframe and customer dataframe

# Check the intersection of the basket dataframe and the customer dataframe

In [11]:
merge_df = basket.merge(customer, on='customer_id')

In [12]:
merge_df

,customer_id,product_id,basket_date,basket_count,sex,customer_age,tenure
0,4897641,34525548,2019-06-15,2,Male,40.0,114
1,11623549,50394038,2019-06-18,2,Male,30.0,63
2,11665521,41476812,2019-06-15,2,Female,51.0,62
3,4193819,6455162,2019-06-15,2,Male,42.0,117
4,1030589,38578121,2019-05-26,2,Male,45.0,127
...,...,...,...,...,...,...,...
67,12574807,32056122,2019-05-25,2,Male,33.0,52
68,15192667,31272089,2019-05-24,2,Male,46.0,37
69,14248059,48790153,2019-05-21,2,Male,29.0,41
70,10629563,47864502,2019-06-01,2,Male,29.0,76
71,11737579,46626448,2019-05-27,2,Male,35.0,61

- The number of intersections between customer dataframe and basket dataframe is only 72

# Conclusion
- I carefully think that it will be difficult to analyze consumption according to customer characteristics.
- So I can't know my customers.